---
title: Online Farm Shop
sidebar_option: no-sidebar
featured_image_path:
facebook_image_path:
layout: default
---

<div class="site-inner">
  <div class="wrap">
    <div class="content-sidebar-wrap">
      <h2>Fallow Sale!</h2>
      <p>
        Preseli Farm is taking a rest for the remainder of 2022 to let our paddocks rest and to repair our shed and charcuterie.  Because of this we are offering great value half pig boxes with <b>free delivery</b> to see off our final litter of the year.  These generously-sized selections should see a large family through Christmas and beyond.
      </p>

      <main class="content grid">
        {% include products_grid.html %}
      </main>

      {% if page.sidebar_option == 'sidebar' %}{% include sidebar.html %}{% endif %}
    </div>
  </div>
</div>
